<form action="/add-word-pair" method="post" hx-push-url="false">
    <fieldset>
        <div class="table rows">
            <p>
                <label for="spanish">Spanish word</label>
                <input type="text" name="spanish" placeholder="Spanish word">
            </p>
            <p>
                <label for="english">English word</label>
                <input type="text" name="english" placeholder="English word">
            </p>
        </div>
        <button>Save</button>
    </fieldset>
</form>
